@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

body {
    background-image: linear-gradient(to top, #4A90E2, #50E3C2);
    min-height: 100vh;
   

}

/* CABEÇALHO */
header {
    min-height: 150px;
    background-image: linear-gradient(to top, #00C6FF, #0072FF);
    text-align: center;
    font-size: 1.2em;
    padding-top: 13px;
    color: white;
    justify-content: center;
    text-shadow: 5px 1px 3px rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header p {
    padding: 1.2em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

nav {
    display: flex;
    justify-content: left;
    gap: 35px;
    background-color: #0096c1;
    padding: 1px;
    width: 100%;
    font-size: 0.8em;
    color: white;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #3478F6;
}

.menu ul {
    list-style: none;
    display: flex;
    background-color: #0096c1;
    padding: 10px;
    gap: 35px;
    font-size: 0.8em;
    position: relative;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2px;
    display: block;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #3478F6;
    border-radius: 4px;
}

.menu ul li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #50E3C2;
    padding: 0;
    min-width: 160px;
    z-index: 1000;
    flex-direction: column;
    border-radius: 10%;
}

.menu ul li:hover > ul.submenu {
    display: block;
}

main h2[id] {
    scroll-margin-top: 170px;
}

/* CORPO */

main {
    background-color: #FFFFFF;
    max-width: 900px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: justify;
    margin-top: 5em;
    font-size: 1.3em;
    color: #333333;
}

/* Margens aplicadas por tela */
@media(min-width: 769px) {
    main {
        margin: 173px auto 10px auto;
    }
}

@media(max-width: 768px) {
    main {
        margin: 203px auto 10px auto;
    }
}

main img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0px 0px 10px 10px;
}

main p {
    margin-top: 0.6em;
    padding-left: 20px;
    line-height: 2em;
    text-indent: 2em;
}

main article h2 {
    margin-top:0.3em;
    margin-bottom: 0.1em;
    padding-left: 10px;
    background-image: linear-gradient(to right, #0073ff94, #00c8ff93, transparent 60%);
    color: #090639f0;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    font-size: 1.3em;
}

.lateral {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    padding: 0.6em;
}

.lateral img {
    max-width: 400px;
    margin-top: -110px;
}

.lateral1 {
    display: flex;
    gap: 1px;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.6em;
    margin-bottom: 0px;
    padding: 1em;
}

.lateral1 .imagens {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 300px;
    width: 100%;
    padding: 30px;
    margin-bottom: 0.2em;
}

.lateral1 .imagens img {
    width: 100%;
    border-radius: 8px;
    display: block;
    margin-bottom: 1.3em;
}

.lateral1 p {
    flex: 1;
    text-align: justify;
    line-height: 2em;
    margin-top: 0;
}
a.saber {
    display: block;
    margin: 2em auto;
    padding: 10px;
    width: 90%;
    text-align: center;
    background-image: linear-gradient(to left, #0073ff94, #00c8ff93, transparent 90%);
    font-size: 0.7em;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

a.saber:hover {
    background-color: #00a4cc;
    color: white;
}

.saber::after{
    content: "+";
}
.saber::before{
    content: "+";
}

div.video {
    background-color: #4A90E2;
    padding: 10px;
    padding-bottom: 50%;
    border-radius: 10px;
    margin: 30px 0;
    position: relative;
}

div.video > video {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height:auto
}

.CRIANÇA::after{
   content: "👶"; 
   padding-left: 5px;    
}
.adolescente::after {
    content: "🧒 ";
    padding-left: 5px;
  }
.adulto::after {
    content: "🧑 ";
    padding-left: 5px;
  }
.idoso::after {
    content: "👴 ";
    padding-left: 5px;
  }
.contextos::after{
    content:"🏥";
    padding-left: 5px;
  }
     
.ldc{
    margin-top: 30px;
    padding: 20px;
    background-image:linear-gradient(to bottom,#19b0df,#356C7C,transparent);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    
}
.ldc h2 {
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}


.ldc ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding-left:0;
    
}


.ldc > ul > li {
    width: 100%;
    margin-bottom: 15px;
}



.ldc a {
    text-decoration: none;
    font-weight: bold;
    color: #0072FF;
    background-color: #d0edff ;
    padding: 10px 15px;
    display: inline-block;
    border-radius:8px;
    transition:background-color 0.3s;
}
.ldc a:hover{
    background-color:#0096c1;
    color:white;
}
.ldc ul ul {
    margin-top: 10px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    list-style: none;
}
.ldc ul ul li {
    margin: 0;
    padding: 0;
}


.ldc ul ul li a{
    background-color: #ffffff;
    color: #333;
    font-weight: normal;
    font-size: 0.95em;
    padding: 8px 12px;
    margin: 4px 0;
    display: inline-block;
} 
.ldc ul ul li a:hover {
    background-color:#0096c1;
    color:white;
}





/* RESPONSIVO */
@media(max-width:768px) {
    header {
        min-height: auto;
        padding: 15px 5px;
        font-size: 0.9em;
        border-radius: 0px 0px 10px 10px;
        margin-bottom: 2px;
    }
    nav{
        background-color: transparent;
    }

    header p {
        padding: 0.1em;
        font-size: 0.9em;
        border-radius: 10px;
    }

    main h2[id] {
        scroll-margin-top: 224px;
    }

    .lateral,
    .lateral1 {
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .lateral img,
    .lateral1 .imagens {
        width: 100%;
        max-width: 400px;
    }

    .lateral1 p {
        padding: 0 10px;
    }

    .menu ul {
        flex-direction: column;
        gap: 0.2em;
        width: 100%;
        background-color: transparent;
    }

    .menu ul li a {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #0072FF;
        border-radius: 20px;
    }

    .menu ul li a:hover {
        background-color: #005ed9;
    }

    .menu ul li ul.submenu {
        position: static;
        background-color: #0096c1;
    }

    .menu ul li:hover > ul.submenu {
        display: block;
    }
}

/* RODAPÉ */
footer {
    background-color: #0096c1;
    text-align: center;
    padding: 0.5em;
    color: white;
}
