name: 游 Deploy Autom치tico para Hostinger

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 游닌 Baixar c칩digo do reposit칩rio
        uses: actions/checkout@v3

      - name: 游닋 Enviar arquivos para Hostinger via FTP
        uses: git-ftp/action@v1.0.0 # ou a vers칚o mais recente
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          remote_path: ${{ secrets.FTP_PATH }}